*{
    margin: 0;
    padding: 0;
}
.container{
    max-width:1140px;
    margin: auto;
}
.btn{
    background-color: #30B868;
    padding:12px 16px;
    border-radius: 4px;
    color: white;
    

}
nav{
    display: flex;
    justify-content: space-between;
    height:92px;
    align-items: center;
    padding: 16px 120px;
    
}
nav .img-container{
    width:139px;
    height: 60px;
}
.link-parent{
    list-style: none;
    align-items: center;
    display: flex;
    width:365px;
    height: 24px;
    gap: 32px;
}
.link-parent a{
    text-decoration: none;
    color: black;

}

.hero-parent{

}

