*{
    margin: 0;
    padding: 0;
}
.container{
    max-width:1140px;
    margin: auto;
}
.btn{
    background-color: #30B868;
    padding:12px 16px;
    border-radius: 4px;
    color: white;
    

}

nav{
    display: flex;
    justify-content: space-between;
    height:92px;
    align-items: center;
    padding: 16px 120px;
    
}
nav .img-container{
    width:139px;
    height: 60px;
}
.link-parent{
    list-style: none;
    align-items: center;
    display: flex;
    width:365px;
    height: 24px;
    gap: 32px;
}
.link-parent a{
    text-decoration: none;
    color: black;

}

.hero-parent{
    background: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    width:1300px;
    margin:0 auto;
    height: 600px;
    text-align: center;
    align-items: center;
    justify-content: center;
   display: flex;
   flex-direction: column;
   te
}
.hero-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-container h1 {
      color: white;
      text-align: center;
      font-style: bold;
      font-size: 72px;
      font-weight: 700px;
}
.hero-container h1 span{
    color:rgba(48, 184, 104, 1);
    text-align: center;

}
.hero-container p{
    max-width: 800px;
    height: 60px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: white;
    
}

.hero-parent .btn-2{
    padding: 12px 16px;
    border-radius: 4px;
    border-radius: 4px;
    

}
.hero-parent .btn-1{
    background-color: white;
    color:#30B868; 
    border-radius: 50px;
    padding: 8px 12px;
    width: 229px;
    height: 35px;
}
.hero-parent .button-container{
    
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.info-parent {
    margin-bottom: 10px;
}

.info-parent .info-container h1{
    width: ;
    height: 80px;
    font-style: bold;
    font-size: 48px;
    text-align: center;
    line-height: 58px;

}
.info-parent .info-container p{
    color: #627382;
    font-weight: 400px;
    line-height: 20px;
    text-align: center;
    margin: 0 auto 50px;
}
.info-card{
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid black ;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.info-card-parent{
    display: flex;
    gap: 15px;
    text-align: center;
}
.info-card p{
    color: #627382;
}


.info-parent .icon {
    background-color: #ff5733;
    width:60px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
}
.info-card .icon img{
    width: 24px;
    height: auto;
}
.second-brain-parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
    
}
.second-brain-parent img{
    width: 400px;
    height:400px;
    border-radius: 12px;
}
.content-area span{
    font-size: 16px;
    color: #30B868;
}
.content-area h1{
    font-size:48px;
    font-size: bold;


}
.content-area p{
    font-size: 16px;
    color: #627382;
    margin-top: 20px;
    
}

.content-area img{
    width:20px;
    height:20px;
}
.content-area li{
    list-style: none;
}