*{
    margin: 0;
    padding: 0;
}
.container{
    max-width:1140px;
    margin: auto;
}
.btn{
    background-color: #30B868;
    padding:12px 16px;
    border-radius: 4px;
    color: white;
    

}

nav{
    display: flex;
    justify-content: space-between;
    height:92px;
    align-items: center;
    padding: 16px 120px;
    
}
nav .img-container{
    width:139px;
    height: 60px;
}
.link-parent{
    list-style: none;
    align-items: center;
    display: flex;
    width:365px;
    height: 24px;
    gap: 32px;
}
.link-parent a{
    text-decoration: none;
    color: black;

}

.hero-parent{
    background: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    width:1300px;
    margin:0 auto;
    height: 600px;
    text-align: center;
    align-items: center;
    justify-content: center;
   display: flex;
   flex-direction: column;
   te
}
.hero-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-container h1 {
      color: white;
      text-align: center;
      font-style: bold;
      font-size: 72px;
      font-weight: 700px;
}
.hero-container h1 span{
    color:rgba(48, 184, 104, 1);
    text-align: center;

}
.hero-container p{
    max-width: 800px;
    height: 60px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: white;
    
}

.hero-parent .btn-2{
    padding: 12px 16px;
    border-radius: 4px;
    border-radius: 4px;
    

}
.hero-parent .btn-1{
    background-color: white;
    color:#30B868; 
    border-radius: 50px;
    padding: 8px 12px;
    width: 229px;
    height: 35px;
}
.hero-parent .button-container{
    
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}